@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050604;
  --foreground: #FCD936;
}

*{
  direction: rtl;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
